.login-page {
    display: grid;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    background: var(--color-background);
}   

.login-page__background-shape {
    position: absolute;
    z-index: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
  
.login-page__presentation {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: var(--space-8);
}

.login-page__logo,
.login-page__presentation-content {
  position: relative;
  z-index: 1;
}

.login-page__logo {
    width: auto;
    height: auto;
    justify-self: start;
    align-self: start;
    margin-top: var(--space-16);
    margin-left: var(--space-12);
    scale: 0.8;
}

.login-page__presentation-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    max-width: 28rem;
    text-align: left;
    margin-top: -8rem;
    margin-left: var(--space-8);
}

.login-page__presentation-content h2 {
    color: var(--color-text-primary);
}
  
.login-page__presentation-content p {
    color: var(--color-text-primary);
}

/* AUTHENTICATION */

.login-page__authentication {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-8);
    background: transparent;
}

.login-page__authentication-content{
    width: 100%;
    max-width: 32rem;
    position: relative;
    z-index: 2;
}

.login-page__header{
    text-align: start;

}

.login-page__profile-list{
    margin-top: var(--space-8);
    list-style: none;
    display: grid;
    gap: var(--space-4);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: start;
}

.login-page__profile-card{
    min-height: 7rem;
    padding: var(--space-4);
    background-color: var(--color-surface);
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--radius-xl);
}

.login-form{
    margin-top: var(--space-8);
    width: 100%;
    gap: var(--space-4);
    display: flex;
    flex-direction: column;
}

.login-form__field{
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.login-form__field input{
    width: 100%;
    padding: var(--space-2) var(--space-3);
    color: var(--color-text-primary);
    background-color: var(--color-surface);
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--radius-md);
}

label{
    text-align: start;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-sm);
}

.login-form__submit{
    width: 100%;
    padding: var(--space-2);
    background: var(--gradient-brand-diagonal);
    color: var(--color-text-primary);
    border: none;
    border-radius: var(--radius-md);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    margin-top: var(--space-4);
}
